body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: Gloria Hallelujah, cursive;
  font-size: 1.3rem;
}

.ant-form-horizontal {
  height: fit-content;
}

.ant-col {
  font-size: 2rem;
}

.header-container {
  background: #a0ca99;
  margin: 0 auto;
  padding-top: 20px;
  height: 80px;
}

.logo {
  color: #8e5b00;
  margin-top: 0;
  width: 100%;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 32px;
  padding-top: 0;
  text-align: center;
}

.marquee {
  animation: marquee 15s alternate-reverse infinite;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  50% { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-input {
  border: 1px solid #8e5b00 !important;
}

.ant-btn {
  border: 1px solid #ac7c25 !important;
  background: #ac7c25;
}

.ant-btn:hover {
  background: #896200;
}

.submit-btn {
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.motto {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 3s;
  font-family: 'Liu Jian Mao Cao', cursive;
  text-transform: lowercase;
}
