body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  top: 30px;
}

.header-container {
  background: #a0ca99;
  margin: 0 auto;
  padding-top: 20px;
  height: 80px;
}

.logo {
  color: #8e5b00;
  margin-top: 0;
  width: fit-content;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: 'Fascinate Inline', cursive;
  font-size: 40px;
  padding-top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ant-calendar-picker-input {
  width: 737px !important;
  display: flex;
}

.ant-input {
  border: 1px solid #8e5b00 !important;
  width: 70%;
}

.ant-btn {
  border: 1px solid #ac7c25 !important;
  width: 30%;
  background: #ac7c25;
  color: #fff;
}

.submit-btn {
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: #8a000a
}

.controls {
  display: none;
  margin: 0 auto;
  text-transform: uppercase;
  height: auto;
  width: fit-content;
  font-weight: bolder;
  font-size: larger;
  padding-top: 2px;
  flex-direction: row;

}

.description {
  width: fit-content;
  margin-left: 1%;
}

.motto {
  font-size: medium;
  font-weight: bold;
  animation: blinker 3s linear infinite;
  font-family: Tahoma, serif;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.view {
  cursor: pointer;
  width: fit-content;
  background: skyblue;
  justify-content: end;
  padding: 6px;
  margin-left: 300px;
}

.register {
  cursor: pointer;
  background: #09d3ac;
  width: fit-content;
  padding: 6px;
  justify-content: left;
}
